<!DOCTYPE html>
<html>
<head>
  <title>Craigslistclone</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<%= content_tag(:body, :class => [controller_name, 'layout'].join(' ')) do %>
  <div id="newsfeed">
    <%= render :partial => 'layouts/header' %>
  </div>
  <%= yield %>
  <br />
  <div class="center">
    <div id="footer">
      <%= link_to "Home", root_path %> |
      <%= link_to "Login", destroy_user_session_path if current_user %> |
      <%= link_to "Browse By Category", categories_path %> |
      <%= link_to "Search", new_search_path %>
    </div>
  </div>
<% end %>
</html>