<%= content_tag :h1, @category.title if @category %>

<div id='searchresults'>
  <table>
    <tr>
      <% @posts.each do |post| %>
        <td>
          <%= link_to [post.category, post] do %>
            <%= image_tag post.picture.thumb.url  %><br />
            <div class="below-image">
              <% if post.price %>
                <span class="price">
                  $<%= post.price %>
                </span><br />
              <% end %>
              <%= post.title %>
            </div>
          <% end %>
        </td>
      <% end %>
    </tr>
  </table>
</div>



<%= link_to 'New Post', new_category_post_path(@category) if @category %>
