<%= content_tag :h1, @category.title if @category %>

<table>
 

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, [post.category, post] %></td>
    <td><%= post.user.email %></td>
    <td><%=image_tag post.picture.thumb unless post.picture.blank? %></td>
    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post', new_category_post_path(@category) if @category %>
