<p id="notice"><%= notice %></p>


<p>
  <b>Title:</b>
  <%=  @post.title %><br /><br />
  <%=  @post.content %>
  <%= image_tag @post.picture if @post.picture %>
  
</p>




<%= link_to 'Edit', edit_category_post_path(@post.category, @post) %> |
<%= link_to 'Back', category_posts_path(@post.category) %>
