<p id="notice"><%= notice %></p>


<p>
  <b>Title:</b>
  <%= @post.title %>
  <%= "$"%><%= @post.price %><br /><br />
  <%= @post.content %><br />
  <%= image_tag @post.picture unless @post.picture.blank? %>
</p>




<%= link_to 'Edit', edit_category_post_path(@post.category, @post) %> |
<%= link_to 'Back', category_posts_path(@post.category) %>
