<p id="notice"><%= notice %></p>

<p>
  <%= @city.name %>
</p>

<br>
Recent posts
<br>
<br>

<table>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, [post.category, post] %></td>
      <td>-posted by <%= post.user.email %></td>
      <td><%= image_tag post.picture %></td>
    </tr>
  <% end %>
</table>
<br><br><br>
Stories
<table>
  <% @stories.each do |story| %>
    <tr>
      <td><%= link_to story.title, story %></td>
      <td><%= story.author %></td>
      <td><%= image_tag story.picture unless story.picture.blank? %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', cities_path %>