<div id="top">
  <img id="logo" src="http://nacnak.com/images/nacnak_banner333434.jpg">
  <%= form_tag(posts_path, :method => :get) do %>
    <%= text_field_tag 'search', '', :id => 'search'%>
    <%= submit_tag 'Search'%>
  <% end %>
  <span id="post_button">
    <%= link_to "Create a FREE Post", new_post_path %>
  </span>
</div>
<div id = "recent_posts">
  <h3>Recent Posts</h3>
  <% @posts.each do |post| %>
    <%= link_to post.title, [post.category, post] %>
    <%= image_tag post.picture %><br>
  <% end %>
</div>

<!--
<p id="notice"><%= notice %></p>

<div id="searchbar">
  <%= link_to "Search", new_search_path %> 
</div>

<div id="post">
  <%= link_to "Create a Free Post!", new_post_path %>
</div>

<p>
  <%= @city.name %>
</p>
<br>
Recent posts
<br>
<br>

<table>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, [post.category, post] %></td>
      <td>-posted by <%= post.user.email %></td>
      <td><%= image_tag post.picture %></td>
    </tr>
  <% end %>
</table>
<br><br><br>
Stories
<table>
  <% @stories.each do |story| %>
    <tr>
      <td><%= link_to story.title, story %></td>
      <td><%= story.author %></td>
      <td><%= image_tag story.picture unless story.picture.blank? %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back', cities_path %>
-->