<p id="notice"><%= notice %></p>

<p>
  <%= @city.name %>
</p>

<br>
Recent posts
<br>
<br>

<table>
  <% @posts.each do |post| %>
    <tr>
      <td><%= link_to post.title, [post.category, post] %></td>
      <td>-posted by <%= post.user.email %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back', cities_path %>