<p id="notice"><%= notice %></p>

<p>
  <b>Author:</b>
  <%= @story.author %>
</p>

<p>
  <b>Title:</b>
  <%= @story.title %>
</p>

<p>
  <b>Content:</b>
  <%= @story.content %>
</p>

<p>
  <%# image_tag @story.picture %>
  <td><%= image_tag @story.picture unless @story.picture.blank? %></td>
  
</p>


<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
